.body-background{background-color: skyblue;}
h1{border-style: solid }
.thanks{background-color: yellow;}
h2{color: darkmagenta;}
#itemone{color: purple; text-decoration: overline;}
.exit{margin-top: 20px; border: 5px dashed yellow;color: yellow;background-color: blue;}
#textblock{border: 5px solid gray;width: 800px; height: 400px;}
a:active{color: red}